<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yong.book.mapper.SystemSettingMapper">
	
	<delete id="batchDeleteNav">
		delete from `${category}` where
		<foreach collection="ids" item="item" index="index" separator="or">
			`id` = ${ids[index]}
		</foreach>
	
	</delete>
	
</mapper>